 /*模块封装*/
 /*主要放顶部的侧边栏*/

 /*顶部导航*/
.top-nav{
	/*height: 35px;*/
	line-height: 34px;   /*行高使其居中*/
	border-bottom: 1px solid #ddd;  /*下边框*/
}
/*搜索*/
.search-box{
	/*盒子宽度根据内容撑高 ,可以设置宽高*/
	display: inline-block;
	margin-left:190px;
}
.search{
	border: 2px solid #FF2D52;
	/*内联元素会有3像素差距，给父级设置字体大小为0*/
	font-size: 0;
}
.search-input{   /*搜索框*/
	border: 0;
	height: 36px;
	width: 430px;
	background: url(../img/search-icon.png)no-repeat 5px center;
}

.search-btn{
	/*a行内元素不能给宽高*/
	display: inline-block;  转换为内联元素
	height: 37px;
	width: 80px;
	background-color: #FF2D52;
	color: #FFFFFF;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
}
/*主导航*/
.main-nav{
	height: 40px;
	line-height: 39px;
/*	width:100%;*/
}
.classify-all{
	width: 200px;
	position: relative;
}
.classify-all:hover{   /*鼠标悬停时样式*/
	background: #EC193E;
}

.classify-all:hover .classify-lists{   /*鼠标悬停时样式*/
	display: block;
}
.classify-lists{
	display: none;
	position: absolute;
	width: 100%;
}
.classify-lists li{
	background: #FF2D52;
/*	height: 51px;*/
	line-height: 50px;
	border-bottom: 1px solid #EC193E;
	padding: 0 20px 0 30px;

}
.classify-lists li:hover, .classify-all.static {   /*鼠标悬停时样式*/
	background: #EC193E;
}
/*二级分类*/
.classify-tow{
	width: 722px;
	height: 306px;
	border: 1px solid #ff7011;
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
	color: #333;
	padding: 12px 20px;
}

.classify-tow-lists{
	width: 50%;
	padding: 0 20px;
/*	background-color: red;*/
	float: left;
	margin-bottom: 16px;
}
.classify-tow-lists .title{
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}
.classify-tow-lists .lists{
	line-height: 24px;	
}
.classify-tow-lists .lists a:hover{  /*鼠标悬停时样式*/
	color: #FF2D52;
	cursor: pointer;   /*鼠标悬停时鼠标变为手*/
}
.classify-lists li:hover .classify-tow{  /*鼠标悬停时样式*/
	display: block;
}
.classify-all .icon-caidan{
	vertical-align: -5px;  /*使菜单图标与全部商品分类两个盒子微调对齐*/
	font-size: 24px;
}
.menu-li li{
	padding: 0 20px;
	float: left;
}
.menu-li li:hover{   /*鼠标悬停时样式*/
	background: #EC193E;
}

/*侧边栏*/
.aside{
	position: fixed;
	width: 36px;
	background: #535353;
	top: 0;
	bottom: 0;
	right: 0;
}
.aside-panel{
	height: 100%;
	width: 100%;
	background: #535353;
	position: relative;
	bottom: 0;
	z-index: 10;
}
.aside-bar{
	position: absolute;
	top: 40%;
	bottom: 0;
	width: 100%;
	color:#fff ;
}
.asidebar-bar .on{
	background: #FF2D52;
}
.asidebar-bar-cart p{
   padding: 0 7px;
}
.asidebar-bar-cart .number1{
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	background: #FF2D52;
	line-height: 16px;
}
.asidebar-bar-cart:hover .number1{
	background: #fff;
	color: #FF2D52;
	cursor: pointer;
}
.aside-bar-lists li{
	text-align: center;
	padding: 9px 0;
	position: relative;
}
.aside-bar-lists li:hover{
	background: #FF2D52;
}
.aside-bar-lists li:hover .tooltip-bar{
	display: block;
}
.tooltip-bar{
	background: #EC193E;
	color: #fff;
	position: absolute;
	right: 45px;
	top: 0;
	min-width: 70px;
	min-height: 40px;
	line-height: 40px;
	display: none;
}
 /**动画过渡 动画过渡的时间   以及延缓时间
 * transition ：运动的元素   运动的时间   运动的模式  延缓时间
 * 例如： */
/* transitio:all  0.5s;*/ 
.tooltip-tip{
	bottom: 0;
	top: auto;
}
.aside-slide{
	position: absolute;
	width: 300px;
	height: 100%;
	top: 0;
	/*background: #0000FF;*/
	right: -264px;
}
.slide-bar-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #535353;
}
/*滑块内容*/
.aside-slide-content{
	width: 100%;
	height: 100%;
	display: none;
}
.aside-slide-car{
	background: #fff;
	color: black;
}
.aside-slide-server{
	background: white;
}