/*存放找回密码部分*/
.box1{
	height: 558px;
	border-top:1px solid #FF2D52 ;
	/*margin: 0 auto;*/
}
.box1 .box1-box1{
	width: 545px;
	height: 76px;
	position: relative;
	left: 30%;
	top: 80px;
}
.box1 .box1-box1 .box1-a1{
	position: absolute;
	top: 50%;
	left:-3%;
}
.box1 .box1-box1 .box1-box2{
	width:216px;
	height: 10px;
	border-top: 2px solid #CCCCCC;
	position: absolute;
	left: 6%;
	top: 20%;
}
.box1 .box1-box1 .box1-box3{
	width:216px;
	height: 10px;
	border-top: 2px solid #CCCCCC;
	position: absolute;
	left: 50%;
	top: 20%;
}
.box1 .box1-box1 .img2{
	left: 45%;
	position: absolute;
}
.box1 .box1-box1 .box1-a2{
	position: absolute;
	top: 48%;
	left: 41%;
}
.box1 .box1-box1 .img3{
	left: 89%;
	position: absolute;
}
.box1 .box1-box1 .box1-a3{
	position: absolute;
	top: 48%;
	left: 89%;
}
.box1 .box2-box2{
	position: relative;
	height: 169px;
	margin-top: 30px;
	margin-left: 30%;
}
.box1 .box2-box2 .box2-box2-input1{
	position: absolute;
	width: 306px;
	height: 40px;
	margin-top: 11%;
	left: 17%;
}
.box1 .box2-box2 .box2-box2-img{
	position: absolute;
	left: 18%;
	z-index: 5;
	top:64%;
}
.box1 .box2-box2 .box2-box2-a{
	left: 10%;
	top: 67%;
	position: absolute;
}
.box1 .box2-box2 .box2-box2-a1{
	left: 55%;
	top: 63%;
	position: absolute;
}
.box1 .box3-box3{
	width: 385px;
	height: 42px;
	position: relative;
	left: 30%;
	top: 20px;
}
.box1 .box2-box3-input1{
	position: relative;
	width: 190px;
	height: 40px;
	top: -58%;
	left: 39%;

}
.box1  .box2-box3-img{
	position: absolute;
	left: 41%;
	z-index: 5;
	top:-28%;
}
.box1 .box2-box3-a2{
	left: 23%;
	top: -31%;
	z-index: 5;
	position: absolute;
}
.box1 .box2-box3-btn{
	width: 106px;
	height: 40px;
	border: 0;
	text-align: center;
	line-height: 40px;
	left: 91%;
	top: -59%;
	background: #FF2D52;
	position: absolute;
}
.box1 .box4-box4{
	position: relative;
	top: 4%;
}
.box1 .box4-box4 .box4-box4-btn{
	width: 306px;
	height: 40px;
	position: absolute;
	left: 42%;
	border: 0;
	line-height: 40px;
	text-align: center;
	background: #FF2D52;
}
