 /*字体、颜色、背景色、行高、外边距、内边距、浮动、清除浮动、超出隐藏*/
	/*封装的公共部分*/

 /*超出隐藏*/
.zi{
	color: #FF2D52;
	position: absolute;
	left: 90px;
	top: 24px;
}
.overflow{
	overflow: hidden;
}
.line-through{
	text-decoration: line-through;
}
.white{
	white-space: nowrap;
}
/*文字超出三个字以点的形式隐藏    一行隐藏*/
.text-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	/*不允许换行*/
	white-space: nowrap;
}
 /*外边距 5 10 15 20 25 30*/
 /*margin-5*/
.margin-5{
	margin: 5px;
}
.margin-5-l{
	margin-left: 5px;
}
.margin-5-t{
	margin-top: 5px;
}
.margin-5-r{
	margin-right: 5px;
}
.margin-5-b{
	margin-bottom: 5px;
}
.margin-5-lr{
	margin: 0 5px;
}
.margin-5-tb{
	margin: 5px 0;
}
 /*margin-10*/
.margin-10{
	margin: 10px;
}
.margin-10-l{
	margin-left: 10px;
}
.margin-10-t{
	margin-top: 10px;
}
.margin-10-r{
	margin-right: 10px;
}
.margin-10-b{
	margin-bottom: 10px;
}
.margin-10-lr{
	margin: 0 10px;
}
.margin-10-tb{
	margin: 10px 0;
}
 /*margin-15*/
.margin-15{
	margin: 15px;
}
.margin-15-l{
	margin-left: 15px;
}
.margin-15-t{
	margin-top: 15px;
}
.margin-15-r{
	margin-right: 15px;
}
.margin-15-b{
	margin-bottom: 15px;
}
.margin-15-lr{
	margin: 0 15px;
}
.margin-15-tb{
	margin: 15px 0;
}
 /*margin-20*/
.margin-20{
	margin: 20px;
}
.margin-20-l{
	margin-left: 20px;
}
.margin-20-t{
	margin-top: 20px;
}
.margin-20-r{
	margin-right: 20px;
}
.margin-20-b{
	margin-bottom: 20px;
}
.margin-20-lr{
	margin: 0 20px;
}
.margin-20-tb{
	margin: 20px 0;
}
 /*margin-25*/
.margin-25{
	margin: 25px;
}
.margin-25-l{
	margin-left: 25px;
}
.margin-25-t{
	margin-top: 25px;
}
.margin-25-r{
	margin-right: 25px;
}
.margin-25-b{
	margin-bottom: 25px;
}
.margin-25-lr{
	margin: 0 25px;
}
.margin-25-tb{
	margin: 25px 0;
}
 /*margin-30*/
.margin-30{
	margin: 30px;
}
.margin-30-l{
	margin-left: 30px;
}
.margin-30-t{
	margin-top: 30px;
}
.margin-30-r{
	margin-right: 30px;
}
.margin-30-b{
	margin-bottom: 30px;
}
.margin-30-lr{
	margin: 0 30px;
}
.margin-30-tb{
	margin: 30px 0;
}
 /*内边距 5 10 15 20 25 30*/
 /*padding-5*/
.padding-5{
	padding: 5px;
}
.padding-5-l{
	padding-left: 5px;
}
.padding-5-t{
	padding-top: 5px;
}
.padding-5-r{
	padding-right: 5px;
}
.padding-5-b{
	padding-bottom: 5px;
}
.padding-5-lr{
	padding: 0 5px;
}
.padding-5-tb{
	padding: 5px 0;
}
 /*padding-10*/
.padding-10{
	padding: 10px;
}
.padding-10-l{
	padding-left: 10px;
}
.padding-10-t{
	padding-top: 10px;
}
.padding-10-r{
	padding-right: 10px;
}
.padding-10-b{
	padding-bottom: 10px;
}
.padding-10-lr{
	padding: 0 10px;
}
.padding-10-tb{
	padding: 10px 0;
}
 /*padding-15*/
.padding-15{
	padding: 15px;
}
.padding-15-l{
	padding-left: 15px;
}
.padding-15-t{
	padding-top: 15px;
}
.padding-15-r{
	padding-right: 15px;
}
.padding-15-b{
	padding-bottom: 15px;
}
.padding-15-lr{
	padding: 0 15px;
}
.padding-15-tb{
	padding: 15px 0;
}
 /*padding-20*/
.padding-20{
	padding: 20px;
}
.padding-20-l{
	padding-left: 20px;
}
.padding-20-t{
	padding-top: 20px;
}
.padding-20-r{
	padding-right: 20px;
}
.padding-20-b{
	padding-bottom: 20px;
}
.padding-20-lr{
	padding: 0 20px;
}
.padding-20-tb{
	padding: 20px 0;
}
 /*padding-25*/
.padding-25{
	padding: 25px;
}
.padding-25-l{
	padding-left: 25px;
}
.padding-25-t{
	padding-top: 25px;
}
.padding-25-r{
	padding-right: 25px;
}
.padding-25-b{
	padding-bottom: 25px;
}
.padding-25-lr{
	padding: 0 25px;
}
.padding-25-tb{
	padding: 25px 0;
}
 /*padding-30*/
.padding-30{
	padding: 30px;
}
.padding-30-l{
	padding-left: 30px;
}
.padding-30-t{
	padding-top: 30px;
}
.padding-30-r{
	padding-right: 30px;
}
.padding-30-b{
	padding-bottom: 30px;
}
.padding-30-lr{
	padding: 0 30px;
}
.padding-30-tb{
	padding: 30px 0;
}
 /*左浮动*/
.fl{
	float: left;
}
 /*右浮动*/
.fr{
	float: right;
}
 /*清除浮动*/
 /*after before 伪元素*/
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

 /*行高 22 24 36 48*/
.line-22{
	line-height: 22px;
}
.line-24{
	line-height: 24px;
}
.line-36{
	line-height: 36px;
}
.line-48{
	line-height: 48px;
}

 /*背景色 f1f1f1 f2f2f2 f7f7f7*/
.bg-main{
	background:#ff2d52;
}
.bg-main-active{
	background: #EC193E;
}
.bg-gray{
	background: #f2f2f2;
}
.bg-black{
	background: #535353; 
}
.bg-true-black{
	background: black;
}
 /*字体 12 14 16 18 20 22 24 30 36*/
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-24{
	font-size: 24px;
}
.font-30{
	font-size: 30px;
}
.font-36{
	font-size: 36px;
}
.font-weight{
	font-weight: bold;
}
 /*字体颜色*/
 /*主色调*/
 /*字体灰色 333 666 999 aaa*/
.text-main{
	color: #ff2d52;
	font-weight: bold;
}
.text-main-active{
	color: #ec193e;
}
.text-white{
	color: #fff;
}
.text-black{
	color: #000;
}
.text-dark{
	color: #333;
}
.text-gray{
	color: #666;
}
.text-graylight{
	color: #999;
}
.text-blackdark{
	color: #aaa;
}
/*文字对齐方式*/
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
/*文字加粗*/
.font-weight{
	font-weight: bold;
}
/*按钮*/
.button{
	display: inline-block;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
.button.button-main,.button-main-hover:hover{
	background: #FF2D52;
	color: #fff;
	/*border: none;*/
	border-color: #FF2D52;
}
.button.button-main:hover{
	background: #EC193E;
	border-color: #EC193E;
}
