/*重置浏览器默认样式*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;  /*边框不向外扩张，内容不超出盒子大小*/
}
body{
	min-width: 1200px;  /*最小宽度*/
	font-size: 12px;
	color: #333;
	font-family: "微软雅黑",arial;
}
.content{
	width: 1200px;
	/*左右居中*/
	margin: 0 auto;
}
input{
	border: 1px solid #ccc;
}
li{
	list-style: none;
}
a{
	/*去掉下划线*/
	text-decoration: none;
	color: #333;
}
 /*超链接*/
.sup:link{   /*未访问时*/
	color: #333;
	text-decoration: none;
}
.sup:hover{   /*鼠标悬停时*/
	color: red;
	text-decoration: underline;
}
.sup:active{  /*鼠标点击不放时*/
	color: blue;
	text-decoration: none;
}
/*去掉输入框的聚焦边框颜色*/
:focus{
	outline: none;   /*外边框*/
}
em,i{
	font-style: normal;
}
/*最后尾页*/
.last-box{
	margin-top: 40px;
	border-top: 2px solid #FF2D52;
	/*position: relative;*/
}
.last-box .kuang{
	padding: 20px 80px;

	position: relative;
}
.last-box .zi img{
	display: inline-block;
/*	padding: 5px -1px;*/
	position: absolute;
}
.last-box .wai-content{
	padding: 20px 80px;
}
.last-box .last-title{
	margin:36px -70px;
}
.last-box .last-title .font{
	font-weight: bold;
	font-size: 14px;
}
.last-lists{
	margin-top:130px;	
}
.last-lists .last-lists-nav{
	padding-left: 100px;
	padding-top: 10px;
}
.last-lists .last-lists-nav .font{
	font-weight: bold;
	font-size: 14px;
}
.last-lists .last-lists-nav .size{
	font-size: 20px;
}
.last-nav{
	line-height: 70px;
	width: 100%;
	height: 50px;
    padding-left: 80px;
	margin-top: 40px;
	background-color: #343434;
}
.last-nav{
	color: #FFF;
	line-height: 70px;
}
.line{
	/*border-left: 1px solid #BDBDBD;*/
}
